# 第12次作业
opp按照面向对象的思想重新完成第八次作业
1.整合六类信息到一个整体的类
2.在类中定义函数将六类信息输出至txt文件
3.逐行读入txt信息，逐行生成对应的paper类，后逐行输出

第八次作业
学生：krissy
作业要求：assignment_wosparse 路径中的文件qje2014_2023.txt包含了过去十年间发表在QJE杂志上的所有论文，请使用python编程将该数据拆分成若个关联表格。
原始数据中各列表达的含义参考：https://images.webofknowledge.com/WOKRS5132R4.2/help/zh_CN/WOS/hs_wos_fieldtags.html
第一张表为论文的基本信息，表格的主键为ut论文入藏号，至少包括论文的发表年份、杂志、issn、doi、issue、volume等信息
第二张表为论文的摘要信息，表格的主键为ut论文入藏号，包括入藏号、摘要
第三张表为论文的题目，表格的主键为ut论文入藏号，包括入藏号、标题
第四张表为论文的作者，表格的主键为ut论文入藏号与作者，包括入藏号、作者全名、作者的family name、givenname、作者顺序;
第五张表为论文的作者与单位，表格的主键为ut论文入藏号与作者，包括入藏号、作者全名、作者顺序、单位affiliation地址全文、单位署名顺序;
第六张表为论文的参考文献信息，表格的主键为ut与参考文献条目，包括ut与参考文献两列

In [22]:
# 读取文件 观察文件内容形式
import pandas as pd
# 文件路径
file_path = 'assignment_wosparse/qje2014_2023.txt'
# 读取数据
# 这里假设数据是以制表符分隔的。如果是其他分隔符，请相应调整。
# table_df = {}
# column_names = []
# with open(file_path, 'r', encoding='utf-8') as fp:
#     for i, line in enumerate(fp.readlines()):
#         if i == 0:
#             table_df = {k:[] for k in line.strip().split('\t')}
#             column_names = list(table_df.keys())
#         else:
#             assert len(line.strip().split('\t')) == len(table_df)
#             for j, ele in enumerate(line.strip().split('\t')):
#                 table_df[column_names[j]].append(ele)

# print(table_df)
# df = pd.DataFrame(table_df, index=None)
# print(df)
            
    
df = pd.read_csv(file_path, sep='\t')
# print(df)

In [25]:
df

,PT,AU,BA,BE,GP,AF,BF,CA,TI,SO,...,WC,WE,SC,GA,PM,OA,HC,HP,DA,UT
0,J,"Guarnieri, E; Tur-Prats, A",NaN,NaN,NaN,"Guarnieri, Eleonora; Tur-Prats, Ana",NaN,NaN,Cultural Distance and Conflict-Related Sexual ...,QUARTERLY JOURNAL OF ECONOMICS,...,Economics,Social Science Citation Index (SSCI),Business & Economics,J5XD1,NaN,Green Submitted,NaN,NaN,2023-11-07,WOS:000988607500001
1,J,"Smith, M; Zidar, O; Zwick, E",NaN,NaN,NaN,"Smith, Matthew; Zidar, Owen; Zwick, Eric",NaN,NaN,Top Wealth in America: New Estimates Under Het...,QUARTERLY JOURNAL OF ECONOMICS,...,Economics,Social Science Citation Index (SSCI),Business & Economics,8H6OL,NaN,NaN,NaN,NaN,2023-11-07,WOS:000868979600001
2,J,"Cai, J; Wang, SY",NaN,NaN,NaN,"Cai, Jing; Wang, Shing-Yi",NaN,NaN,Improving Management Through Worker Evaluation...,QUARTERLY JOURNAL OF ECONOMICS,...,Economics,Social Science Citation Index (SSCI),Business & Economics,4Q8QX,NaN,Green Published,NaN,NaN,2023-11-07,WOS:000813226900001
3,J,"Adao, R; Carrillo, P; Costinot, A; Donaldson, ...",NaN,NaN,NaN,"Adao, Rodrigo; Carrillo, Paul; Costinot, Arnau...",NaN,NaN,"Imports, Exports, and Earnings Inequality: Mea...",QUARTERLY JOURNAL OF ECONOMICS,...,Economics,Social Science Citation Index (SSCI),Business & Economics,2Y8SI,NaN,Green Published,NaN,NaN,2023-11-07,WOS:000784752700001
4,J,"Gopinath, G; Stein, JC",NaN,NaN,NaN,"Gopinath, Gita; Stein, Jeremy C.",NaN,NaN,"BANKING, TRADE, AND THE MAKING OF A DOMINANT C...",QUARTERLY JOURNAL OF ECONOMICS,...,Economics,Social Science Citation Index (SSCI),Business & Economics,RQ3PS,NaN,Green Published,NaN,NaN,2023-11-07,WOS:000642334600003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,J,"Haushofer, J; Shapiro, J",NaN,NaN,NaN,"Haushofer, Johannes; Shapiro, Jeremy",NaN,NaN,The Short-term Impact of Unconditional Cash Tr...,QUARTERLY JOURNAL OF ECONOMICS,...,Economics,Social Science Citation Index (SSCI),Business & Economics,ED1AU,33087990.0,"Green Accepted, Bronze, Green Published",Y,N,2023-11-07,WOS:000388576700010
422,J,"Hottman, CJ; Redding, SJ; Weinstein, DE",NaN,NaN,NaN,"Hottman, Colin J.; Redding, Stephen J.; Weinst...",NaN,NaN,Quantifying the Sources of Firm Heterogeneity*,QUARTERLY JOURNAL OF ECONOMICS,...,Economics,Social Science Citation Index (SSCI),Business & Economics,DW0JG,NaN,Green Published,NaN,NaN,2023-11-07,WOS:000383326100005
423,J,"Bierbrauer, FJ; Boyer, PC",NaN,NaN,NaN,"Bierbrauer, Felix J.; Boyer, Pierre C.",NaN,NaN,"Efficiency, Welfare, and Political Competition*",QUARTERLY JOURNAL OF ECONOMICS,...,Economics,Social Science Citation Index (SSCI),Business & Economics,DF8IZ,NaN,Green Submitted,NaN,NaN,2023-11-07,WOS:000371602500010
424,J,"Kremer, M; Snyder, CM",NaN,NaN,NaN,"Kremer, Michael; Snyder, Christopher M.",NaN,NaN,PREVENTIVES VERSUS TREATMENTS,QUARTERLY JOURNAL OF ECONOMICS,...,Economics,Social Science Citation Index (SSCI),Business & Economics,CP1MC,NaN,NaN,NaN,NaN,2023-11-07,WOS:000359638900004
425,J,"Kleven, HJ; Landais, C; Saez, E; Schultz, E",NaN,NaN,NaN,"Kleven, Henrik Jacobsen; Landais, Camille; Sae...",NaN,NaN,Migration and Wage Effects of Taxing Top Earne...,QUARTERLY JOURNAL OF ECONOMICS,...,Economics,Social Science Citation Index (SSCI),Business & Economics,300GF,NaN,Green Published,NaN,NaN,2023-11-07,WOS:000330451700008

## 1. 第一张表为论文的基本信息，表格的主键为ut论文入藏号，至少包括论文的发表年份、杂志、issn、doi、issue、volume等信息

In [24]:
table1_columns = ['UT', 'PY', 'SO', 'SN', 'DI', 'IS', 'VL']
table1 = df[table1_columns]
table1

,UT,PY,SO,SN,DI,IS,VL
0,WOS:000988607500001,2023.0,QUARTERLY JOURNAL OF ECONOMICS,0033-5533,10.1093/qje/qjad015,3,138
1,WOS:000868979600001,2022.0,QUARTERLY JOURNAL OF ECONOMICS,0033-5533,10.1093/qje/qjac033,1,138
2,WOS:000813226900001,2022.0,QUARTERLY JOURNAL OF ECONOMICS,0033-5533,10.1093/qje/qjac019,4,137
3,WOS:000784752700001,2022.0,QUARTERLY JOURNAL OF ECONOMICS,0033-5533,10.1093/qje/qjac012,3,137
4,WOS:000642334600003,2021.0,QUARTERLY JOURNAL OF ECONOMICS,0033-5533,10.1093/qje/qjaa036,2,136
...,...,...,...,...,...,...,...
421,WOS:000388576700010,2016.0,QUARTERLY JOURNAL OF ECONOMICS,0033-5533,10.1093/qje/qjw025,4,131
422,WOS:000383326100005,2016.0,QUARTERLY JOURNAL OF ECONOMICS,0033-5533,10.1093/qje/qjw012,3,131
423,WOS:000371602500010,2016.0,QUARTERLY JOURNAL OF ECONOMICS,0033-5533,10.1093/qje/qjv033,1,131
424,WOS:000359638900004,2015.0,QUARTERLY JOURNAL OF ECONOMICS,0033-5533,10.1093/qje/qjv012,3,130
425,WOS:000330451700008,2014.0,QUARTERLY JOURNAL OF ECONOMICS,0033-5533,10.1093/qje/qjt033,1,129

## 2. 第二张表为论文的摘要信息，表格的主键为ut论文入藏号，包括入藏号、摘要

In [26]:
table2_columns = ['UT', 'AB']
table2 = df[table2_columns]
table2

                      UT                                                 AB
0    WOS:000988607500001  This article examines the relationship between...
1    WOS:000868979600001  This article uses administrative tax data to e...
2    WOS:000813226900001  Using a randomized experiment with an automobi...
3    WOS:000784752700001  The earnings of individuals depend on the dema...
4    WOS:000642334600003  We explore the interplay between trade-invoici...
..                   ...                                                ...
421  WOS:000388576700010  We use a randomized controlled trial to study ...
422  WOS:000383326100005  We develop and structurally estimate a model o...
423  WOS:000371602500010  We study political competition in an environme...
424  WOS:000359638900004  Preventives are sold ex ante, before disease s...
425  WOS:000330451700008  This article analyzes the effects of income ta...

[426 rows x 2 columns]

## 3. 第三张表为论文的题目，表格的主键为ut论文入藏号，包括入藏号、标题

In [28]:
table3_columns = ['UT', 'TI']
table3 = df[table3_columns]
table3

                      UT                                                 TI
0    WOS:000988607500001  Cultural Distance and Conflict-Related Sexual ...
1    WOS:000868979600001  Top Wealth in America: New Estimates Under Het...
2    WOS:000813226900001  Improving Management Through Worker Evaluation...
3    WOS:000784752700001  Imports, Exports, and Earnings Inequality: Mea...
4    WOS:000642334600003  BANKING, TRADE, AND THE MAKING OF A DOMINANT C...
..                   ...                                                ...
421  WOS:000388576700010  The Short-term Impact of Unconditional Cash Tr...
422  WOS:000383326100005     Quantifying the Sources of Firm Heterogeneity*
423  WOS:000371602500010    Efficiency, Welfare, and Political Competition*
424  WOS:000359638900004                      PREVENTIVES VERSUS TREATMENTS
425  WOS:000330451700008  Migration and Wage Effects of Taxing Top Earne...

[426 rows x 2 columns]

## 4. 第四张表为论文的作者，表格的主键为ut论文入藏号与作者，包括入藏号、作者全名、作者的family name、givenname、作者顺序;

In [60]:
table4_columns = ['UT', 'AF', 'C1']
table4 = df[table4_columns].copy()
table4

,UT,AF,C1
0,WOS:000988607500001,"Guarnieri, Eleonora; Tur-Prats, Ana","[Guarnieri, Eleonora] Univ Exeter, Exeter, Eng..."
1,WOS:000868979600001,"Smith, Matthew; Zidar, Owen; Zwick, Eric","[Smith, Matthew] US Treasury Dept, Washington,..."
2,WOS:000813226900001,"Cai, Jing; Wang, Shing-Yi","[Cai, Jing] Univ Maryland, NBER, College Pk, M..."
3,WOS:000784752700001,"Adao, Rodrigo; Carrillo, Paul; Costinot, Arnau...","[Adao, Rodrigo] Univ Chicago, Booth Sch Busine..."
4,WOS:000642334600003,"Gopinath, Gita; Stein, Jeremy C.","[Gopinath, Gita; Stein, Jeremy C.] Harvard Uni..."
...,...,...,...
421,WOS:000388576700010,"Haushofer, Johannes; Shapiro, Jeremy","[Haushofer, Johannes] Princeton Univ, Princeto..."
422,WOS:000383326100005,"Hottman, Colin J.; Redding, Stephen J.; Weinst...","[Hottman, Colin J.] Fed Reserve Board Governor..."
423,WOS:000371602500010,"Bierbrauer, Felix J.; Boyer, Pierre C.","[Bierbrauer, Felix J.] Univ Cologne, Macromol ..."
424,WOS:000359638900004,"Kremer, Michael; Snyder, Christopher M.","[Kremer, Michael; Snyder, Christopher M.] Harv..."
425,WOS:000330451700008,"Kleven, Henrik Jacobsen; Landais, Camille; Sae...","[Kleven, Henrik Jacobsen] London Sch Econ, Lon..."

In [61]:
table4_new = pd.DataFrame({'UT':[], 'author':[], 'family name':[], 'given name':[], 'author order':[],
                           'address':[]})

for index, row in table4.iterrows():
    all_authors = row['AF'].split('; ')
    for j, author in enumerate(all_authors):
        table4_new.loc[len(table4_new.index)] = [
            row['UT'], author, author.split(', ')[0], author.split(', ')[1], j+1, row['C1']
        ]

table4_new

,UT,author,family name,given name,author order,address
0,WOS:000988607500001,"Guarnieri, Eleonora",Guarnieri,Eleonora,1,"[Guarnieri, Eleonora] Univ Exeter, Exeter, Eng..."
1,WOS:000988607500001,"Tur-Prats, Ana",Tur-Prats,Ana,2,"[Guarnieri, Eleonora] Univ Exeter, Exeter, Eng..."
2,WOS:000868979600001,"Smith, Matthew",Smith,Matthew,1,"[Smith, Matthew] US Treasury Dept, Washington,..."
3,WOS:000868979600001,"Zidar, Owen",Zidar,Owen,2,"[Smith, Matthew] US Treasury Dept, Washington,..."
4,WOS:000868979600001,"Zwick, Eric",Zwick,Eric,3,"[Smith, Matthew] US Treasury Dept, Washington,..."
...,...,...,...,...,...,...
1220,WOS:000359638900004,"Snyder, Christopher M.",Snyder,Christopher M.,2,"[Kremer, Michael; Snyder, Christopher M.] Harv..."
1221,WOS:000330451700008,"Kleven, Henrik Jacobsen",Kleven,Henrik Jacobsen,1,"[Kleven, Henrik Jacobsen] London Sch Econ, Lon..."
1222,WOS:000330451700008,"Landais, Camille",Landais,Camille,2,"[Kleven, Henrik Jacobsen] London Sch Econ, Lon..."
1223,WOS:000330451700008,"Saez, Emmanuel",Saez,Emmanuel,3,"[Kleven, Henrik Jacobsen] London Sch Econ, Lon..."
1224,WOS:000330451700008,"Schultz, Esben",Schultz,Esben,4,"[Kleven, Henrik Jacobsen] London Sch Econ, Lon..."

## 5. 第五张表为论文的作者与单位，表格的主键为ut论文入藏号与作者，包括入藏号、作者全名、作者顺序、单位affiliation地址全文、单位署名顺序;

In [90]:
import re

reg = re.compile("\\[[^\\]]+\\][^;]+")
reg.findall("[Gopinath, Gita; Stein, Jeremy C.] Harvard Univ, Cambridge, MA 02138 USA; [Gopinath, Gita; Stein, Jeremy C.] NBER, Cambridge, MA 02138 USA")

reg2 = re.compile("\\[[^\\]]+\\]")
reg2.findall('[Gopinath, Gita; Stein, Jeremy C.] Harvard Univ, Cambridge, MA 02138 USA')
def extract_author_affiliations(address):
    try:
        address_list = reg.findall(address)
    except TypeError:
        return {}
    au2add = {}
    for add in address_list:
        authors = reg2.findall(add)[0]
        for aut in authors[1:-1].split('; '):
            au2add[aut] = add.split(authors)[1:]
    
    return au2add


table5 = pd.DataFrame({'UT':[], 'author':[], 'family name':[], 'given name':[], 'author order':[],
                       'affiliation':[]})

for index, row in table4_new.iterrows():
    aut_dict = extract_author_affiliations(row['address'])
    if len(aut_dict) == 0:
        table5.loc[len(table5.index)] = [
            row['UT'], row['author'], row['family name'], row['given name'], row['author order'],
            row['address']
        ]
        continue
        
    table5.loc[len(table5.index)] = [
        row['UT'], row['author'], row['family name'], row['given name'], row['author order'],
        aut_dict.get(row['author'][0][1:])
    ]

table5

,UT,author,family name,given name,author order,affiliation
0,WOS:000988607500001,"Guarnieri, Eleonora",Guarnieri,Eleonora,1,None
1,WOS:000988607500001,"Tur-Prats, Ana",Tur-Prats,Ana,2,None
2,WOS:000868979600001,"Smith, Matthew",Smith,Matthew,1,None
3,WOS:000868979600001,"Zidar, Owen",Zidar,Owen,2,None
4,WOS:000868979600001,"Zwick, Eric",Zwick,Eric,3,None
...,...,...,...,...,...,...
1220,WOS:000359638900004,"Snyder, Christopher M.",Snyder,Christopher M.,2,None
1221,WOS:000330451700008,"Kleven, Henrik Jacobsen",Kleven,Henrik Jacobsen,1,None
1222,WOS:000330451700008,"Landais, Camille",Landais,Camille,2,None
1223,WOS:000330451700008,"Saez, Emmanuel",Saez,Emmanuel,3,None
1224,WOS:000330451700008,"Schultz, Esben",Schultz,Esben,4,None

## 第六张表为论文的参考文献信息，表格的主键为ut与参考文献条目，包括ut与参考文献两列

In [92]:
table6 = pd.DataFrame({'UT':[], 'REF':[]})

for index, row in df.iterrows():
    for cited_paper in row['CR'].split('; '):
        table6.loc[len(table6.index)] = [
            row['UT'], cited_paper
        ]

table6

                        UT                                                REF
0      WOS:000988607500001  Akerlof GA, 2000, Q J ECON, V115, P715, DOI 10...
1      WOS:000988607500001  Alesina A, 2021, ECONOMICA, V88, P70, DOI 10.1...
2      WOS:000988607500001  Alesina A, 2013, Q J ECON, V128, P469, DOI 10....
3      WOS:000988607500001  Amnesty International, 2018, THEY RAP EV WID US S
4      WOS:000988607500001            Anke Becker, 2021, EC ORIGINS RESTRICTI
...                    ...                                                ...
26990  WOS:000330451700008  OECD (Organisation for Economic Co-operation a...
26991  WOS:000330451700008  Piketty T, 2013, HBK ECON, V5, P391, DOI 10.10...
26992  WOS:000330451700008  Saez E, 2012, J ECON LIT, V50, P3, DOI 10.1257...
26993  WOS:000330451700008  Saez E, 2010, AM ECON J-ECON POLIC, V2, P180, ...
26994  WOS:000330451700008  Young C, 2011, NATL TAX J, V64, P255, DOI 10.1...

[26995 rows x 2 columns]